<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fm.reprotool/nusmv/lang/NuSmvInputLanguage" 
       class = "reprotool.fm.nusmv.lang.nuSmvInputLanguage.NuSmvInputLanguagePackage"
       genModel = "reprotool/fm/nusmv/lang/NuSmvInputLanguage.genmodel" /> 
	
  </extension>





</plugin>
