<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://d3s.mff.cuni.cz/reprotool/model/usecase"
            class="reprotool.model.usecase.UsecasePackage"
            genModel="model/reprotool.model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://d3s.mff.cuni.cz/reprotool/model/swproj"
            class="reprotool.model.swproj.SwprojPackage"
            genModel="model/reprotool.model.genmodel"/>
   </extension>

</plugin>
