<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="REPROTOOL Textual Specification Editor"
            extensions="txtspec"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="reprotool.ide.txtspec.editors.TxtSpecEditor"
            id="reprotool.ide.txtspec.editors.TxtSpecEditor">
      </editor>
   </extension>

</plugin>
