<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.common.ui.examples"> 
      <example
            wizardID="reprotool.exampleProjects.wizard1">
         <projectDescriptor
               contentURI="resources/cityMap.swproj.zip"
               description="Reprotool citymap example project"
               name="Citymap example">
         </projectDescriptor>
         <projectDescriptor
               contentURI="resources/admission-ucdb.cs.put.poznan.pl.zip"
               description="The admission system (http://ucdb.cs.put.poznan.pl) example project that is prepared for you to learn how to use the textual import of use-cases in Reprotool."
               name="Admission system">
         </projectDescriptor>
      </example>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="reprotool.exampleProjects.categoryReprotool"
            name="Reprotool"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/reprotool.exampleProjects.categoryReprotool"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            finalPerspective="reprotool.ide.perspectives.ReprotoolPerspective"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.exampleProjects.wizard1"
            name="Reprotool example projects"
            project="true">
      </wizard>
   </extension>

</plugin>
