<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="reprotool.uml.export.umlContribution"
            nameFilter="*.swproj"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="reprotool.uml.export.actions.Swproj2UML"
               id="reprotool.uml.export.action2"
               label="Convert SW project to UML">
         </action>
      </objectContribution>
   </extension>

</plugin>
