<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="reprotool.fm.nusmv.swprojContribution"
            nameFilter="*.swproj"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="reprotool.fm.nusmv.actions.SwprojToSMV"
               id="reprotool.fm.nusmv.action2"
               label="Convert SW project to SMV">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="reprotool.fm.nusmv.nusmvContribution"
            nameFilter="*.nusmv"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="reprotool.fm.nusmv.actions.CheckCTL"
               id="reprotool.fm.nusmv.action1"
               label="Check CTL using NuSMV">
         </action>
      </objectContribution>
   </extension>

</plugin>
