<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="reprotool.fm.nusmv.actionSet"
            label="Sample Action Set"
            visible="true">
         <action
               class="reprotool.fm.nusmv.actions.NuSMVTest"
               icon="icons/sample.gif"
               id="reprotool.fm.nusmv.actions.NuSMVTest"
               label="&amp;Test NuSMV"
               menubarPath="project/additions"
               tooltip="Test NuSMV">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="reprotool.fm.nusmv.commands.CheckCTL"
            id="commands.CheckCTL"
            name="Check CTL using NuSMV">
      </command>
      <command
            defaultHandler="reprotool.fm.nusmv.commands.SimulateSMV"
            id="commands.SimulateSMV"
            name="Simulate SMV model using NuSMV">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="commands.CheckCTL"
               icon="icons/tick.png"
               label="Check CTL using NuSMV"
               style="push">
         </command>
         <command
               commandId="commands.SimulateSMV"
               icon="icons/tick.png"
               label="Simulate SMV model using NuSMV"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
