<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="reprotool.ide.ReprotoolIdePerspectiveFactory"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.perspectives.ReprotoolPerspective"
            name="Reprotool">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="reprotool.ide.views.ReprotoolCategory"
            name="Reprotool">
      </category>
      <view
         name="Progress View"
         category="reprotool.ide.views.ReprotoolCategory"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView"
         restorable="true">
      </view>
            <view
         name="Properties View"
         category="reprotool.ide.views.ReprotoolCategory"
         class="org.eclipse.ui.views.properties.PropertySheet"
         id="org.eclipse.ui.views.PropertySheet"
         restorable="true">
      </view>
      <view
            category="reprotool.ide.views.ReprotoolCategory"
            class="reprotool.ide.views.sentenceanalysis.step.SentenceAnalysisSheet"
            id="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet"
            name="Sentence analysis">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="reprotool.ide.editors.project.ProjectEditor"
            contributorClass="reprotool.ide.editors.project.ProjectActionBarContributor"
            default="true"
            extensions="swproj"
            filenames="swproj"
            icon="icons/book.png"
            id="cz.cuni.mff.reprotool.ide.editors.ProjectEditor"
            name="Project editor">
      </editor>
      <editor
            class="reprotool.ide.editors.usecase.UsecaseEMFEditor"
            contributorClass="reprotool.ide.editors.usecase.UsecaseEMFActionBarContributor"
            default="false"
            extensions="usecase"
            icon="icons/use-case-icon-16x16.png"
            id="org.eclipselabs.reprotool.ide.UseCaseEmfEditor"
            name="Use case EMF Editor">
      </editor>
      <editor
            class="reprotool.ide.editors.counterExample.CExmpEditor"
            contributorClass="reprotool.model.swproj.presentation.SwprojActionBarContributor"
            default="true"
            extensions="cexmp"
            filenames="cexmp"
            icon="icons/traces.png"
            id="reprotool.ide.counterExampleEditorId"
            name="Counter example editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="reprotool.ide.category1"
            name="Reprotool">
      </category>
      <wizard
            category="reprotool.ide.category1"
            class="reprotool.ide.wizards.ProjectWizard"
            finalPerspective="reprotool.ide.perspectives.ReprotoolPerspective"
            hasPages="true"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.wizard1"
            name="Reprotool Project"
            project="true">
      </wizard>
      <category
            id="reprotool.ide.examplesCategory"
            name="Reprotool Examples"
            parentCategory="reprotool.ide.category1">
      </category>
      <wizard
            category="reprotool.ide.category1/reprotool.ide.examplesCategory"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.exampleProjects.wizard1"
            name="Citymap Example Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="reprotool.ide.perspectives.ReprotoolPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.20"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               ratio="0.65"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="stack"
               relative="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView"
               visible="true">
         </view>
         <viewShortcut
               id="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet">
         </viewShortcut>
         <newWizardShortcut
               id="reprotool.ide.wizard1">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="reprotool.ide.natures.ReprotoolProjectNature"
         name="Reprotool Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="reprotool.ide.natures.ReprotoolProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.natures.ProjectIcon"
            natureId="reprotool.ide.natures.ReprotoolProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="reprotool.model.usecase.UseCase"
            class="reprotool.ide.adapter.UseCaseAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="reprotool.ide.usecase.addstep"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ENTER">
      </key>
      <key
            commandId="reprotool.ide.usecase.addextension"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+1">
      </key>
      <key
            commandId="reprotool.ide.usecase.addvariation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="reprotool.ide.usecase.addannotation"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="reprotool.ide.editors.usecase.AddEntityHandler$AddStepHandler"
            id="reprotool.ide.usecase.addstep"
            name="Add step">
      </command>
      <command
            defaultHandler="reprotool.ide.editors.usecase.AddEntityHandler$AddExtensionHandler"
            id="reprotool.ide.usecase.addextension"
            name="Add extension">
      </command>
      <command
            defaultHandler="reprotool.ide.editors.usecase.AddEntityHandler$AddVariationHandler"
            id="reprotool.ide.usecase.addvariation"
            name="Add variation">
      </command>
      <command
            defaultHandler="reprotool.ide.editors.usecase.AddEntityHandler$AddAnnotationHandler"
            id="reprotool.ide.usecase.addannotation"
            name="Add annotation">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipselabs.reprotool.branding.ReprotoolIDEProduct">
      </introProductBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/introContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteAnnotationHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.usecase.annotate.StepAnnotation">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteStepHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.usecase.UseCaseStep">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteScenarioHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.usecase.Scenario">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteActorHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.swproj.Actor">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteConceptualObjectHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.swproj.ConceptualObject">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="reprotool.ide.editors.shared.DeleteEntityHandler$DeleteUseCaseHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="reprotool.model.usecase.UseCase">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   

</plugin>
