<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cz.cuni.mff.reprotool.ide.category_reprotool"
            name="reprotool">
      </category>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.LinguisticToolsView"
            id="cz.cuni.mff.reprotool.ide.views.view_linguistic_tools"
            name="linguistic tools"
            restorable="true">
      </view>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.ParsedTreeView"
            id="cz.cuni.mff.reprotool.ide.view_parsed_tree"
            name="parsed tree"
            restorable="true">
      </view>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.ProjectView"
            id="cz.cuni.mff.reprotool.ide.view_project"
            name="project"
            restorable="true">
      </view>
            <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.UcStepView"
            id="cz.cuni.mff.reprotool.ide.uc_step_view"
            name="usecase step"
            restorable="true">
      </view>
      <view
         name="progress view"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView"
         restorable="true">
      </view>     
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="reprotool.ide.ReprotoolIdePerspectiveFactory"
            icon="icons/reprotool-web-logo-16x16.png"
            id="cz.cuni.mff.reprotool.ide.perspective_reprotool_ide"
            name="Reprotool">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="reprotool.ide.editors.UseCaseEditor"
            default="false"
            extensions="uc"
            id="cz.cuni.mff.reprotool.ide.editor_use_case"
            name="Use case">
      </editor>
      <editor
            class="reprotool.ide.editors.ProjectEditor"
            default="false"
            extensions="ucproj"
            id="cz.cuni.mff.reprotool.ide.project"
            name="Project">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="reprotool.ide.commands.AddActor"
            id="commands.addActor"
            name="Add actor">
      </command>
      <command
            defaultHandler="reprotool.ide.commands.RemoveActor"
            id="commands.removeActor"
            name="Remove actor">
      </command>
      <command
            defaultHandler="reprotool.ide.commands.ShowStep"
            id="commands.showStep"
            name="Show step">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="reprotool.ide.category1"
            name="Reprotool">
      </category>
      <wizard
            category="reprotool.ide.category1"
            class="reprotool.ide.wizards.ProjectWizard"
            finalPerspective="cz.cuni.mff.reprotool.ide.perspective_reprotool_ide"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.wizard1"
            name="Reprotool Project"
            project="true">
      </wizard>
   </extension>

</plugin>
