<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cz.cuni.mff.reprotool.ide.category_reprotool"
            name="ReProTool">
      </category>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.LinguisticToolsView"
            id="cz.cuni.mff.reprotool.ide.views.view_linguistic_tools"
            name="Linguistic Tools"
            restorable="true">
      </view>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.ParsedTreeView"
            id="cz.cuni.mff.reprotool.ide.view_parsed_tree"
            name="Parsed Tree"
            restorable="true">
      </view>
      <view
         name="Progress View"
         category="org.eclipse.ui"
         class="org.eclipse.ui.ExtensionFactory:progressView"
         id="org.eclipse.ui.views.ProgressView"
         restorable="true">
      </view>
      <view
            class="reprotool.ide.views.OutlineContents"
            id="reprotool.ide.views.OutlineContents"
            name="Outline View">
      </view>
      <view
            category="cz.cuni.mff.reprotool.ide.category_reprotool"
            class="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet"
            id="reprotool.ide.views.sentenceanalysis.SentenceAnalysisSheet"
            name="Sentence analysis">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="reprotool.ide.ReprotoolIdePerspectiveFactory"
            icon="icons/reprotool-web-logo-16x16.png"
            id="cz.cuni.mff.reprotool.ide.perspective_reprotool_ide"
            name="Reprotool">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="reprotool.ide.editors.UseCaseEditor"
            default="true"
            extensions="usecase"
            icon="icons/use-case-icon-16x16.png"
            id="cz.cuni.mff.reprotool.ide.UseCaseEditor"
            name="Use case">
      </editor>
      <editor
            class="reprotool.ide.editors.ProjectEditor"
            contributorClass="reprotool.ide.editors.ProjectActionBarContributor"
            default="false"
            extensions="swproj"
            id="cz.cuni.mff.reprotool.ide.editors.ProjectEditor"
            name="My Project Editor">
      </editor>
      <editor
            class="reprotool.ide.editors.UsecaseEMFEditor"
            contributorClass="reprotool.ide.editors.UsecaseEMFActionBarContributor"
            default="false"
            extensions="usecase"
            id="cz.cuni.mff.reprotool.ide.UseCaseEmfEditor"
            name="Use case EMF Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="reprotool.ide.category1"
            name="Reprotool">
      </category>
      <wizard
            category="reprotool.ide.category1"
            class="reprotool.ide.wizards.ProjectWizard"
            finalPerspective="cz.cuni.mff.reprotool.ide.perspective_reprotool_ide"
            hasPages="true"
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.wizard1"
            name="Reprotool Project"
            project="true">
      </wizard>
      <wizard
            category="reprotool.ide.category1"
            class="reprotool.ide.wizards.UsecaseWizard"
            id="reprotool.ide.UseCaseWizard"
            name="Use case">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="reprotool.ide.preferences.ReprotoolPreferencePage"
            id="reprotool.ide.preferences.ReprotoolPreferencePage"
            name="ReProTool">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="reprotool.ide.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="reprotool.ide.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="cz.cuni.mff.reprotool.ide.perspective_reprotool_ide">
         <viewShortcut
               id="cz.cuni.mff.reprotool.ide.views.view_linguistic_tools">
         </viewShortcut>
         <viewShortcut
               id="cz.cuni.mff.reprotool.ide.view_project">
         </viewShortcut>
         <viewShortcut
               id="cz.cuni.mff.reprotool.ide.view_parsed_tree">
         </viewShortcut>
         <view
               closeable="true"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="true"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.6"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ProgressView"
               minimized="false"
               moveable="true"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="true"
               id="cz.cuni.mff.reprotool.ide.views.view_linguistic_tools"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.ProgressView"
               visible="true">
         </view>
         <view
               closeable="true"
               id="cz.cuni.mff.reprotool.ide.view_parsed_tree"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
         <newWizardShortcut
               id="reprotool.ide.wizard1">
         </newWizardShortcut>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="reprotool.ide.views.ActorsContentProvider"
            id="reprotool.ide.navigator.actorsContent"
            labelProvider="reprotool.ide.views.ActorsLabelProvider"
            name="Actors included in project">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="java.lang.String">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="reprotool.ide.navigator.actorsContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         id="reprotool.ide.natures.ReprotoolProjectNature"
         name="Reprotool Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="reprotool.ide.natures.ReprotoolProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/reprotool-web-logo-16x16.png"
            id="reprotool.ide.natures.ProjectIcon"
            natureId="reprotool.ide.natures.ReprotoolProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="reprotool.model.usecase.UseCase"
            class="reprotool.ide.adapter.UseCaseAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="commands.addActor"
               label="Add actor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="reprotool.model.swproj.SoftwareProject">
                        </instanceof>
                     </iterate>
                  </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.editActor"
               label="Edit actor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <instanceof
                           value="reprotool.model.swproj.Actor">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="commands.removeActor"
               label="Remove actor"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <instanceof
                           value="reprotool.model.swproj.Actor">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="reprotool.ide.stepLabel"
            colorPreferenceKey="tagColor"
            colorPreferenceValue="255,255,0"
            highlightPreferenceKey="tagHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Reprotool use case step reference annotation"
            overviewRulerPreferenceKey="x"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="tagText"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="x"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="reprotool.ide.actorLabel"
            colorPreferenceKey="actorTagColor"
            colorPreferenceValue="200,180,255"
            highlightPreferenceKey="actorTagHighlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Reprotool actor reference annotation"
            overviewRulerPreferenceKey="x"
            overviewRulerPreferenceValue="false"
            textPreferenceKey="actorTagText"
            textPreferenceValue="false"
            verticalRulerPreferenceKey="x"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="reprotool.ide.stepLabel">
      </type>
      <type
            name="reprotool.ide.actorLabel">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="cz.cuni.mff.reprotool.ide.UseCaseEditor">
         <propertyCategory category="main"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="cz.cuni.mff.reprotool.ide.UseCaseEditor">
         <propertyTab
               category="main"
               id="reprotool.ide.properties.uc"
               label="Item">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="cz.cuni.mff.reprotool.ide.UseCaseEditor">
         <propertySection
               class="reprotool.ide.adapter.UseCaseStepPropertySource"
               id="reprotool.ide.properties.uc.UseCaseSection"
               tab="reprotool.ide.properties.uc">
               <input type="reprotool.model.usecase.UseCaseStep"/>
         </propertySection>
         <propertySection
               class="reprotool.ide.adapter.ScenarioPropertySource"
               id="reprotool.ide.properties.uc.ScenarioSection"
               tab="reprotool.ide.properties.uc">
               <input type="reprotool.model.usecase.Scenario"/>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
