<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://d3s.mff.cuni.cz/reprotool/nusmv/lang" 
       class = "reprotool.fm.nusmv.lang.nuSmvLang.NuSmvLangPackage"
       genModel = "reprotool/fm/nusmv/lang/NuSmvLang.genmodel" /> 
	
  </extension>





</plugin>
